/* style body  and add font family*/
body {
  font-family: Arvo, serif;
  background: url(/CompanyWebsite/images/bg.jpeg) no-repeat center center;
  background-attachment: fixed;
  background-size: cover;
}

/* style brand img */
.logo {
  height: 30px;
}

/* styling nav bar */
#mynavBar {
  background: rgba(0, 0, 0, 0.5);
  padding: 2px 5px;
}

.nav-link {
  color: rgb(147, 144, 144);
  font-size: 17px;
  margin-right: 15px;
}

.nav-link:hover {
  color: #fff;
  padding-bottom: 3px;
  border-bottom: 2px solid #00FFB8;
}

.btn-search {
  color: rgb(147, 144, 144);
  border-color: #00ffbb;
}

.btn-search:hover {
  color: #fff;
  background-color: #00ffbb;
}

.flex-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* style jumbotron */
.jumbotron {
  background-color: transparent;
  color: white;
  text-align: center;
  letter-spacing: 2.5px;

}

h1 {
  font-size: 4em;
}

/* limit the width of icon section */
.icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1200px;
}

/* style icon section */
.icon-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
  /* border: 2px solid white; */
  padding: 20px;
  max-width: 400px;
}

.icon-holder p {
  font-size: 17px;
}

.icon-item {
  height: 130px;
  padding-bottom: 15px;
}

/* style contact button */
.contact {
  margin-top: 30px;
}

/* style our button */
.btn-get {
  color: #fff;
  background-color: #00ffbb8d;
  font-size: 17px;
  padding: 10px 60px;
  letter-spacing: 1.3px;
  border-radius: 10px;
}

.btn-get:hover {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}

/* style footer */
.myfooter {
  display: flex;
  justify-content: start;
  background: rgba(0, 0, 0, 0.5);
  color: rgb(176, 176, 176);
  position: relative;
  margin: 90px 0 0 0;
  padding-left: 10px;
  width: 100%;
}

#footer-text {
  color: #fff;
}

/* use media queries to change icon size in small devices */
@media (max-width:768px) {
  .icon-item {
    height: 90px;
  }

  h1 {
    font-size: 2em;
  }

  .jumbotron {
    padding: 25px;
  }

  .icon-holder {
    margin-top: 25px;
  }

  .btn-get {
    font-size: 15px;
    padding: 8px 40px;
  }
}